{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/styles/main.css?20140108" />
<link rel="stylesheet" type="text/css" href="/static/styles/create_room.css?20140108" />
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<div class="createRoom">
	<div class="createRoomInner">
		<a href="{{url_for('room.room_list')}}" style="color:black;" class="exit"><i class="fa fa-times"></i></a>
		<h1 class="createRoomTitle">방 만들기</div>
		<form class="form formCreateRoom" method="post" action=".">
			<input type="text" name="title" placeholder="방제목" />
			<select name="type">
				<option>게임 방식</option>
				<option value='0'>4대4 데스매치</option>
				<option value='1'>8대8 데스매치</option>
				<option value='2'>8대8 깃발뺏기</option>
			</select>
			<input type="submit" value="만들기" />
		</form>
	</div>
</div>
{% endblock %}
