<!doctype html>
<html lang="ko">
	<head>
		<title>CSM :: {% block title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport' content="width-device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="author" content="" />

		<!-- FontAwesome CDN -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

		<!-- Normalize CSS -->
		<link rel="stylesheet" href="/static/styles/normalize.css" />

		<!-- Common CSS -->
		<link rel="stylesheet" href="/static/styles/common.css?140106" />
		{% block styles %}
		{% endblock %}

		<!-- jQuery CDN -->
		<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
		{% block scripts %}
		{% endblock %}
	</head>

	<body>
		<div class="topTitleBar">
			<div class="topTitleBarInner">
				<div class="maker">CSM</div>
				<div class="title">Title</div>
				<ul class="subNav">
					<li>로그인</li>
					<li>회원가입</li>
				</ul>
			</div>
		</div>
		<div class="topNav">
			<div class="topNavInner">
				<ul class="leftNav">
					<li></li>
				</ul>
				<ul class="rightNav">
				</ul>
			</div>
		</div>

		{% block content %}
		{% endblock %}
	</body>
</html>
