<!doctype html>
<html lang="ko">
	<head>
		<title>레전드 오브 리그 - 정령왕</title>
		<meta charset="utf-8" />
		<!-- FontAwesome CDN -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<!-- Normalize CSS -->
		<link rel="stylesheet" href="/static/styles/normalize.css" />
		<!-- Common CSS -->
		<link rel="stylesheet" href="/static/styles/common.css?140106" />
        <!-- jQuery CDN -->
		<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

		<link rel="stylesheet" type="type/css" href="/static/styles/common.css" />

		{% block styles %}
		{% endblock %}

		{% block scripts %}
		{% endblock %}
	</head>
	<body>
		<div class="bg"></div>

		<div class="gameTitle">레전드 오브 리그 <span>: 정령왕</span></div>

		{% block content %}
		{% endblock %}

		<div class='footer'>
			<a class='title'>레전드 오브 리그: 정령왕</a>
			<span class='creater'>CSM - 김지환, 남세현, 이선협, 장문익</span>
		</div>
	</body>
</html>
