
.createRoom {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 300px;
	height: 130px;
	margin-left: -150px;
	margin-top: -65px;
	border: 1px solid #444;
	border-radius: 10px;
	background-color: white;
	z-index: 2;
}
.createRoomInner {
	width: 100%;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
}
.createRoomTitle {
	margin: 0;
	padding: 0;
	margin-left: 5px;
	font-size: 14pt;
	font-family: 'Nanum Gothic', sans-serif;
	color: #333;
}
select {
	width: 143px;
	height: 25px;
	padding: 2px;
	margin: 4px;
	font-size: 12pt;
	font-family: 'Nanum Gothic', sans-serif;
	border: 1px solid #333;
	border-radius: 4px;
	box-sizing: content-box;
}
input[type=submit] {
	width: 100px;
	height: 25px;
	padding: 2px;
	margin: 4px;
	font-size: 12pt;
	font-family: 'Nanum Gothic', sans-serif;
	color: white;
	border: 1px solid #333;
	border-radius: 4px;
	background-color: #444;
	box-sizing: content-box;
}
